* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
  max-width: 100%;
}
html{
  height: 100%;
}
body{
  min-height: 100%;
  font-family: Arial;
  line-height: 1;
  }

.wrapper{
	max-width: 1010px;
	margin: 0 auto;
	padding: 0 10px;
}

.header_top{
  background: #37a14c;
}

.v_flex_row{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center
}
.action{
  color: white;
  font-size: 16px;
  font-weight: normal;  
  align-content: center;
  padding: 5px 0; 
}

.social{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;

  font-size: 0;
}
.social a{
  display: inline-block;
  margin-left: 10px;
  padding: 10px 0;
}

/* щоб посилання було на всьому блоці*/ 
/*.background_icons a{
display: inline-block;
  width: 100%;
  height: 100%;
}*/
/*.background{
  padding-left: 10px;
}*/
.header_middle{
  padding: 10px 10px;
}
.logo a{
  display: inline-block;
  width: 100%;
  height: 100%;
}
.logo{
  text-align:center;
  align-content: center;
  line-height: 5em;
}

.logo img, .contacts, .button_select{
  /*margin-top: 12px;*/
  padding: 0 10px;
  vertical-align: middle;
}
.button_select{
  padding-top: 25px;
}
.contact, .skype{
  color: #317530;
  font-size: 16px;
  font-weight: normal; 
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;

  padding: 5px 0;
}
/*.contact_connect a::first-child{
  padding: 5px 0;
}*/
.contact a{
  color: inherit;
  text-decoration: none;
  font-size: 20px;
}
.contact_connect{
  width: 200px;
  display: inline-block;
}
.contact_connect ::last-child{
  display: inline-block;
}
.contact_name{
  width: 90px;
  flex-basis: 100px;

}
.skype{ 
  color: black;
  font-size: 16px;
}
.skype a{
  color: #1200ff;
  text-decoration: none;
}
.skype {
  float: left;
}
.skype_icon{
  width: 17px;
  height: 17px;
  background-image: url(../icons/skype.png);
  display: inline-block;
  background-repeat:no-repeat;  
  transform: translateY(3px);
}
.skype .contact_connect :last-child{
  font-style: italic;
}



/*main__________________________________*/
.main{
  background: white;
  padding-top: 25px;
}

.menu_opener{
  position: fixed;
  top: 65px;
  right: 10px;
  border: 2px solid #fff;
  border-radius: 50%;
  z-index: 10;
}
.icon_list{ 
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  
    position: relative;
    border-radius: 50%;
    background: #37a14c;
    width: 40px;
    height: 40px; 
    transition: all 1s ease;  
}
.icon_list span{
  position: relative;
  border-radius: 25%;
    background: white;
    /*margin:2px 0; */
    width: 13px;
    height: 4px;  
     transition: all 1s ease; 
}
.icon_list span:before{
  content: '';
  position: absolute;
  border-radius: 50%;
    background: #fff;
    width: 4px;
    height: 4px; 
    left: -8px; 
}

.icon_list-open {
  
  padding:0; 
  transform: rotate(45deg);
   transition: all 1s ease; 
}
.icon_list-open span:nth-child(2){
  opacity: 0;
}
.icon_list-open span{
  position: absolute;
  width: 24px;
   transition: all 1s ease; 
}
.icon_list-open span:before{
  opacity: 0;
}
.icon_list-open span:nth-child(1){
  transform: rotate(90deg);
}


.yellow_button{
  
  padding: 10px 0;
}
.btn{
  display: block;
  text-decoration: none;
  color: white;
  background: #fdce09;


  border-radius: 6px;
  box-shadow: 0px 3px 3px 0px #293224;
  text-align:center;
  vertical-align: middle;
  align-content: center;
  padding: 10px 0;
}


.header_bottom{
  background: #37a14c;
  /*margin-top: 10px;*/
  /*margin-bottom: 25px;*/
}

.top_menu a{
  text-decoration: none;
  color: white;
  font-size: 16px;
  
  display: block;
  padding: 10px;
  
}
.top_menu li{
  border-bottom: 1px solid #57e974;
  border-top: 1px solid #247634;
  border-right: 1px solid #247634;
  border-left: 1px solid #247634;
  list-style: none;
  text-align:center;
  vertical-align: middle;
  align-content: center;

  width: 100%;
  height: 100%;
}



.sidebar a{
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.sidebar li{
  list-style: none;
}
.sidebar{
 /* padding-top: 25px;*/
  padding-left: 6px;
  position: relative;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  background: white;
  overflow-y: scroll;
  transition: .5s all ease;
  height: 100%;
  padding-right: 20px;
}
.sidebar_active{
  left:0; 
  transition: .5s all ease;
  right: 0;
  bottom: 0;
  z-index: 7;
}
.row{
  margin:0 -10px; 
}
ul.sidebar > li{
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom: 1px solid #e7e7e7;
}

ul.sidebar > :first-child  {
  padding-top: 0px;
  padding-bottom: 0px;
} 

ul.sidebar ul >:first-child  {
  padding-top: 20px;
} 
ul.sidebar ul >:last-child  {
  padding-bottom: 10px;
}

ul.sidebar li a{
display: inline-block;
  width: 100%;
  height: 100%;
}

ul.sidebar ul a{
  color: #ff0000;
  font-size: 16px;
}
ul.sidebar ul li{
  padding-left: 23px;
    padding-bottom: 5px;
    padding-top: 5px;
}


.article_title{
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 20px;
}
.article_im{
}
.article_promo-text{
  padding-top: 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid #e7e7e7;
  font-size: 14px;
  line-height: 14px;
}

.card_article_info{
  height: 92px;
 
  background: rgb(135,224,253); /* Old browsers */
  background: -moz-linear-gradient(top, rgb(135,224,253) 0%, rgb(48,148,68) 0%, rgb(69,188,92) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgb(135,224,253) 0%,rgb(48,148,68) 0%,rgb(69,188,92) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgb(135,224,253) 0%,rgb(48,148,68) 0%,rgb(69,188,92) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#45bc5c',GradientType=0 ); /* IE6-9 */
  
  font-size: 14px;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 5px; 
  border-bottom: 1px solid #57e974;

}
.card_article_date{
  color: #000000;
  padding-bottom: 8px;

}
.card_article_title{
  color: #fff;
}
.card_article a{
  text-decoration: none;
}
.cards_image{
  border-top: 1px solid #247634;
  text-align: center;
  
} 
.card_article{
  margin: 0 auto; 
  margin-bottom: 30px;
  margin-top: 60px;
  padding-right: 11px;
  padding-left: 11px;
}



.footer_top{
  background: rgb(135,224,253); /* Old browsers */
  background: -webkit-linear-gradient(rgb(135,224,253) 0%, rgb(254,197,13) 0%, rgb(240,176,6) 100%);
  background: -o-linear-gradient(rgb(135,224,253) 0%, rgb(254,197,13) 0%, rgb(240,176,6) 100%);
  background: linear-gradient(rgb(135,224,253) 0%, rgb(254,197,13) 0%, rgb(240,176,6) 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#f0b006',GradientType=0 ); /* IE6-9 */
  
  padding-top: 20px;
  padding-bottom: 15px;

 }

 .footer_top .contact_connect{
  width: 160px;
 }


.footer_top .action{
  font-size: 20px;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  padding-left: 5px; 
}
.footer_top  .contact{
  color: black;
  padding-right: 40px;
  text-align: center;
  justify-content: center;
  margin-left: 0;
  margin-right: 0;
}

/*.footer_top  .contacts{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}*/
.footer_top .contact .contact_name{
  text-align: right;
  padding-right: 15px;
}
.footer_middle{ /* FF3.6-15 */
  background: -webkit-linear-gradient(rgb(135,224,253) 0%, rgb(69,187,92) 0%, rgb(61,155,80) 100%);
  background: -o-linear-gradient(rgb(135,224,253) 0%, rgb(69,187,92) 0%, rgb(61,155,80) 100%);
  background: linear-gradient(rgb(135,224,253) 0%, rgb(69,187,92) 0%, rgb(61,155,80) 100%); /* Chrome10-25,Safari5.1-6 */
  padding: 10px 5px;
}

.footer_middle ul{
  text-align: center;
  width: 100%;
  margin-bottom: -20px;
}
.footer_middle li {
  display: inline-block;
}
.footer_middle li:last-child{
  display: inline-block;
  content: '';
  width: 100%;
  height: 1px;
  
}

.footer_bottom{
  padding: 25px 5px;
  font-size: 14px;
  padding-left: 5px;
}

.clearfix:after, .row:after, .clearfix:before, .row:before{
  content: '';
  clear: both;
  width: 100%;
  display: block;
}



@media(min-width: 320px){
  .social{
    padding-left: 20px;
  }


}
@media(min-width: 560px){

}
@media(min-width: 960px){
.col-tablet-1-4{
  width: 25%;
  float: left;
}
.menu_opener{
  display: none;
}
ul.sidebar{
  position:static;
  overflow-y:visible; 
}
.footer_top .action{
  text-align: left;
}
.footer_middle ul{
  text-align: justify;
}
.col-tablet-3-4{
  float: left;
  width: 75%;
}
.col-tablet-1-3{
  float: left;
  width: 33.33%;
}
.col-tablet-1-5{
  float: left;
  width: 20%;
}
.col-tablet-18-pers{
  float: left;
  width: 18%;
}
.col-tablet-30-pers{
  float: left;
  width: 30%;
}
.col-tablet-16-pers{
  float: left;
  width: 16%;
}
.col-tablet-36-pers{
  float: left;
  width: 36%;
}
.col-tablet-1-2{
  float: left;
  width: 50%;
}
.logo {
    line-height: 7em;
}

.footer_top  .contact{
  text-align: right;
  justify-content:  flex-end;
  padding-right: 35px;
}
.button_select{
  padding-top: 0px;
}
ul.sidebar > li{
  margin-top: 0px;
}

}
@media(min-width: 1920px){

}