* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
  max-width: 100%;
}
html{
  height: 100%;
}
body{
  min-height: 100%;
  font-family: Arial;
  }

.wrapper{
	max-width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}

.header_top{
  background: #37a14c;
  padding-top: 10px;
  padding-bottom: 10px; 
}
.v_flex_row{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center
}
.action{
  color: white;
  font-size: 16px;
  font-weight: normal;  
  align-content: center;
}

/* щоб посилання було на всьому блоці*/ 
/*.background_icons a{
display: inline-block;
  width: 100%;
  height: 100%;
}*/
/*.background{
  padding-left: 10px;
}*/
.social{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
.social a{
  display: inline-block;
  margin-right: 10px;
}
.logo{
  text-align:center;
  vertical-align: middle;
  align-content: center;
}
.logo,.contact, .button_select, .skype{
  margin-top: 15px;
}


.contact, .skype{
  color: #317530;
  font-size: 16px;
  font-weight: normal; 
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}
.contact a{
  color: inherit;
  text-decoration: none;
  font-size: 20px;
}
.contact_connect{
  width: 200px;
  display: inline-block;
}
.contact_name{
  width: 90px;
  flex-basis: 100px;

}
.skype > .contact_name{
  color: black;
  font-size: 16px;
}
.skype >.contact_connect a{
  color: #1200ff;
  text-decoration: none;
}
.skype >.contact_connect{
  float: left;
}
.skype_icon{
  width: 17px;
  height: 17px;
  background-image: url(../icons/skype.png);
  display: inline-block;
  background-repeat:no-repeat;  
  transform: translateY(3px);
}
.skype .contact_connect :last-child{
  font-style: italic;
}



.menu_opener{
  position: fixed;
  top: 85px;
  left: 10px;
  border: 2px solid #fff;
  border-radius: 50%;
  z-index: 10;
}
.icon_list{ 
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  
    position: relative;
    border-radius: 50%;
    background: #37a14c;
    width: 40px;
    height: 40px; 
    transition: all 1s ease;  
}
.icon_list span{
  position: relative;
  border-radius: 25%;
    background: white;
    /*margin:2px 0; */
    width: 13px;
    height: 4px;  
     transition: all 1s ease; 
}
.icon_list span:before{
  content: '';
  position: absolute;
  border-radius: 50%;
    background: #fff;
    width: 4px;
    height: 4px; 
    left: -8px; 
}

.icon_list-open {
  
  padding:0; 
  transform: rotate(45deg);
   transition: all 1s ease; 
}
.icon_list-open span:nth-child(2){
  opacity: 0;
}
.icon_list-open span{
  position: absolute;
  width: 24px;
   transition: all 1s ease; 
}
.icon_list-open span:before{
  opacity: 0;
}
.icon_list-open span:nth-child(1){
  transform: rotate(90deg);
}


/*.yellow_button{
  background: #fdce09;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 6px;
  box-shadow: 0px 3px 3px 0px #293224;
  text-align:center;
  vertical-align: middle;
  align-content: center;
  padding: 10px;
}*/

.button_select a{
  display: block;
  text-decoration: none;
  color: white;
  background: #fdce09;
  margin-top: 15px;

  border-radius: 6px;
  box-shadow: 0px 3px 3px 0px #293224;
  text-align:center;
  vertical-align: middle;
  align-content: center;
  padding: 10px;
}

.button_select{
  color: white;
}

.header_bottom{
  background: #37a14c;
  margin-top: 10px;
}

.top_menu a{
  text-decoration: none;
  color: white;
  font-size: 16px;
  
  display: block;
  
}
.top_menu li{
  padding: 10px;

  border-bottom: 1px solid #57e974;
  border-top: 1px solid #247634;
  border-right: 1px solid #247634;
  border-left: 1px solid #247634;
  list-style: none;
  text-align:center;
  vertical-align: middle;
  align-content: center;

  width: 100%;
  height: 100%;
}



.sidebar a{
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.sidebar li{
  list-style: none;
}
.sidebar{
  padding-top: 25px;
  padding-left: 6px;
  position: relative;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  background: white;
  overflow-y: scroll;
  transition: .5s all ease;
}
.sidebar_active{
  left:0; 
  transition: .5s all ease;
  right: 0;
  bottom: 0;
  z-index: 7;
}

ul.sidebar > li{
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 20px; 
  padding-top: 18px;
}
ul.sidebar ul a{
  color: #ff0000;
}
ul.sidebar ul li{
  padding-left: 23px;
  padding-top: 12px;
}
ul.sidebar ul li:first-child{
  padding-top:20px ;
}

.article_title{
  font-size: 24px;
  font-weight: bold;
  padding-top: 25px;
  padding-bottom: 25px;
}
.article_im{

}
.article_promo-text{
  padding-top: 25px;
  padding-bottom: 35px;
  border-bottom: 1px solid #e7e7e7;
}

.card_article_info{
  height: 92px;
 
  background: rgb(135,224,253); /* Old browsers */
  background: -moz-linear-gradient(top, rgb(135,224,253) 0%, rgb(48,148,68) 0%, rgb(69,188,92) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgb(135,224,253) 0%,rgb(48,148,68) 0%,rgb(69,188,92) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgb(135,224,253) 0%,rgb(48,148,68) 0%,rgb(69,188,92) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#45bc5c',GradientType=0 ); /* IE6-9 */
  
  font-size: 14px;
  padding-top: 15px;
  padding-right: 32px;
  padding-bottom: 15px;
  padding-left: 8px; 
  border-bottom: 1px solid #57e974;

}
.card_article_date{
  color: #000000;
}
.card_article_title{
  color: #fff;
}
.card_article a{
  text-decoration: none;
}
.cards_image{
  border-top: 1px solid #247634;
  
} 
.card_article{
  margin: 0 auto; 
  width: 232px;
  margin-bottom: 30px;
}

.footer_top{
  background: rgb(135,224,253); /* Old browsers */
  background: -webkit-linear-gradient(rgb(135,224,253) 0%, rgb(254,197,13) 0%, rgb(240,176,6) 100%);
  background: -o-linear-gradient(rgb(135,224,253) 0%, rgb(254,197,13) 0%, rgb(240,176,6) 100%);
  background: linear-gradient(rgb(135,224,253) 0%, rgb(254,197,13) 0%, rgb(240,176,6) 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#f0b006',GradientType=0 ); /* IE6-9 */
  
  padding-top: 15px;
  padding-bottom: 15px;
 }
.footer_top .action{
  font-size: 20px;
  text-align: center;

}
.footer_top  .contact{
  color: black;
}
.footer_top .contact > .contact_name{
  text-align: right;
  padding-right: 15px;
}
.footer_middle{ /* FF3.6-15 */
  background: -webkit-linear-gradient(rgb(135,224,253) 0%, rgb(69,187,92) 0%, rgb(61,155,80) 100%);
  background: -o-linear-gradient(rgb(135,224,253) 0%, rgb(69,187,92) 0%, rgb(61,155,80) 100%);
  background: linear-gradient(rgb(135,224,253) 0%, rgb(69,187,92) 0%, rgb(61,155,80) 100%); /* Chrome10-25,Safari5.1-6 */
}
.footer_middle a{
  display: inline-block;
  margin-bottom: 15px;
  
}
.footer_middle .wrapper{
  text-align: center;
  padding-top: 15px;
}
.copyright{
  padding: 25px 0;
  font-size: 14px;
  padding-left: 5px;
}

 



@media(min-width: 320px){
  .social{
    padding-left: 20px;
  }
}
@media(min-width: 560px){

}
@media(min-width: 960px){

}
@media(min-width: 1920px){

}